<html>
  <head>
    {% if title %}
    <title>{{ title }} - Home</title>
    {% else %}
    <title>Welcome</title>
    {% endif %}
  </head>
  <body>
    <div>
      Goto: <a href="/main">Main menu&nbsp;&nbsp;&nbsp;</a>
      <a href="/logout">Logout&nbsp;&nbsp;&nbsp;</a>
      <a href="/uploadfile">Upload file&nbsp;&nbsp;&nbsp;</a>
      <a href="/share">Share file&nbsp;&nbsp;&nbsp;</a>
      <a href="/myreviews">My reviews&nbsp;&nbsp;&nbsp;</a><br />
    </div>
    <hr />
    {% block content %}{% endblock %}
  </body>
</html>
