<html>
  <head>
    {% if title %}
    <title>{{ title }} - Home</title>
    {% else %}
    <title>Welcome</title>
    {% endif %}
  </head>
  <body>
    <div>
      Goto: <a href="/main">Home &nbsp;&nbsp;&nbsp;</a>
      
      <a href="/uploadfile">Upload file&nbsp;&nbsp;&nbsp;</a>
      <a href="/share">Share file&nbsp;&nbsp;&nbsp;</a>
      <a href="/recycle_bin">Recycle bin &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
      <a href="/logout">Logout</a>
    </div>
    <hr />
    {% block content %}{% endblock %}
  </body>
</html>
