{% extends "base.html" %} 


{% block content %} 


{% if msg %}
<div id="menumsg">
  {{ msg }}
</div>
{% endif %} 



<h1>My Files</h1>
<a href="/uploadfile">Add new file</a>
<br>
<br>
<table>
  <tr>
    <td>file_id&nbsp;&nbsp;&nbsp;</td>
    <td>filename&nbsp;&nbsp;&nbsp;</td>
    <td>sharelink&nbsp;&nbsp;&nbsp;</td>
    <td>access_token&nbsp;&nbsp;&nbsp;</td>
  </tr>
  {% for file in files %}
  <tr>
    <td>{{ file.user_file_id }}&nbsp;&nbsp;&nbsp;</td>
    <td>{{ file.filename }}&nbsp;&nbsp;&nbsp;</td>
    <td><a href="/s/{{file.id}}">/s/{{file.id}}&nbsp;&nbsp;&nbsp;</a></td>
    <td>{{ file.access_token }}</td>
  </tr>
  {% endfor %}
</table>
<br>
<br>
<br>
{% if status_msg %}
<div id="status_msg" style="color: red;">
  {{ status_msg }}
</div>
{% endif %} 


{% endblock %}
