{% extends "base.html" %} 


{% block content %} 


{% if msg %}
<div id="menumsg">
  {{ msg }}
</div>
{% endif %} 



<h1>Recycle bin files</h1>
<br>
<br>
<table>
  <tr>
    <td>file_id&nbsp;&nbsp;&nbsp;</td>
    <td>filename&nbsp;&nbsp;&nbsp;</td>
  </tr>
  {% for file in files %}
  <tr>
    <td>{{ file.id }}&nbsp;&nbsp;&nbsp;</td>
    <td>{{ file.filename }}&nbsp;&nbsp;&nbsp;</td>
    <td><a href="/recoverfile?id={{file.id}}">Recover&nbsp;&nbsp;&nbsp;</a></td>
    <td><a href="/reallydeletefile?id={{file.id}}">Permanent delete</a></td>
  </tr>
  {% endfor %}
</table>
<br>
<br>
<br>
{% if status_msg %}
<div id="status_msg" style="color: red;">
  {{ status_msg }}
</div>
{% endif %} 

{% endblock %}
