<html>
  <head>
    {% if title %}
    <title>{{ title }} - Home</title>
    {% else %}
    <title>Welcome</title>
    {% endif %}
  </head>
  <body>

    
    {% if share_exist %}

    {% if filename %}
    <p>filename: {{ filename }}</p>

    {% endif %} 

    
    <p>input access token to download the file </p>
    <form action="login" method="POST">
			

        <input type="text" name="token" placeholder="access token" /><br><br>
              
        <input type="submit" value="download file"/>
        
    </form>

    {% endif %} 
    {% if status_msg %}
    <div id="status_msg" style="color: red;">
      {{ status_msg }}
    </div>
    {% endif %} 
  </body>
</html>