<html>
  <head>
    {% if title %}
    <title>{{ title }} - Home</title>
    {% else %}
    <title>Welcome</title>
    {% endif %}
  </head>
  <body>

    
    {% if share_exist %}

    {% if filename %}
    <p>filename: {{ filename }}</p>

    {% endif %} 

    
    <p>input access token to download the file </p>
    <form action="{{link}}"  method="POST">
			

        <input type="text" name="token" placeholder="access token" /><br><br>
              
        <input type="submit" value="verify"/>
        
    </form>

    {% endif %} 
    {% if status_msg %}
    <div id="status_msg" style="color: red;">
      {{ status_msg }}
    </div>
    {% endif %} 

    <br>

    {% if download_link %}
     <p> <a href="{{download_link }}">download file</a></p>

    {% endif %} 

    <br><br>
		<a target="_blank" href="https://github.com/wangx4/xiaofeiwang_FlaskFinalProject">View on Github</a>
  </body>
</html>